@import url(https://fonts.googleapis.com/css?family=Play:400,700);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  border: 26px solid #FFFCEE;
  /*border-radius:26px;*/
  -webkit-border-radius: 46px;
  -moz-border-radius: 46px;
  background-image: url("/assets/images/noise.png");
  font: 14px play, Helvetica, Arial, sans-serif;

  margin: 0;
  padding: 0 0 16%
}
h1{
  font: 87px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  color: #FFFCEE;
  margin: 37px 0 5px 0;
}

.force{
  padding-top:140px;
}

h2{
  padding-top:42px;
  font: 44px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0 250px;
  color: #3A8BCA;
}
h4{
  font: 35px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: #FFFCEE;
  margin-bottom: 15px;
  margin-top: 94px;


}
#levels p{
  font: 27px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: #3A8BCA;
  margin-top: 0;
  line-height: 40px;
  padding: 3% 0 30% 0;
}

.quote{
  font: 30px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  /*float:right;*/
  text-align: right;
  margin: 0 200px 30px 0;
  color: #FFFCEE;
  padding-bottom:29px;
}
.logs{
  font: 29px play, Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin: 15px auto;
  background-color: red;
  border-radius: 12px;
  border-color: transparent;
  padding-bottom:6px;
}
.r-logs{
  font: 29px play, Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin: 15px auto;
  background-color: lawngreen;
  border-radius: 12px;
  border-color: transparent;
  padding-bottom:6px;
}

#home-form{
  margin: 56px 0 0 56px;


}
.home{
  background-color: red;
  border-radius: 12px;
  border-color: transparent;
  /*width: 97px;*/
  /*height: 17px;*/
  /*margin: 64px 0 0 65px;*/
  margin: 55px 0 0 55px;
  padding:6px 16px;
  /*margin-top: 8px;*/
  font: 25px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFFCEE;
}

#login-form{
  display:block;
  margin:125px auto;
  text-align: center;

}

input.login{
  font: 29px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.submit{
  font: 29px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 20px;
  letter-spacing: 3px;
  margin: 34px 0 25px;
  color: #FFFCEE;
  background-color: lawngreen;
}
.submit:hover{
  color:black;
  background-color:#FFFCEE;
}

.register{
  font: 29px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 20px;
  letter-spacing: 2px;
  margin: 34px 0 25px;
  color: white;
  background-color: red;
}
.register:hover{
  color:lawngreen;
  background-color:#FFFCEE;
}

.new-login   {
  font: 29px play;
  font-weight: bold;
  color: lawngreen;
  text-decoration: none;
  margin-top: 34px;
  letter-spacing: 5px;
}
.new-login:hover {
  color: #FFFCEE;
}

.new-main   {
  font: 29px play;
  font-weight: bold;
  color: lawngreen;
  text-decoration: none;
  margin: -38px 35px 0 0;
  letter-spacing: 5px;
  float: right;
  clear: both;
}
.new-main:hover {
  color: #FFFCEE;
}
.play   {
  font: 55px play;
  font-weight: bold;
  color: lawngreen;
  text-decoration: none;
  /*margin: 24px 42px 0 0;*/
  letter-spacing: 5px;
  text-align: center;
  display:block;
  margin: 139px auto 20%;
}
.play:hover {
  color: #FFFCEE;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #FFFCEE;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:   #FFFCEE;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #FFFCEE;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:   #FFFCEE;
}

.logout{
  float:right;
  font: 29px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 30px;
  letter-spacing: 1px;
  margin: 54px 65px;
  color: #FFFCEE;
  background-color: lawngreen;
}

.logout:hover{
  color:black;
}
.loginhome{
  float:right;
  font: 29px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 30px;
  letter-spacing: 1px;
  margin: 54px 65px;
  color: #FFFCEE;
  background-color: lawngreen;
  text-decoration: none;
}

.loginhome:hover{
  color:black;
}

.answer{
  font: 29px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 30px;
  letter-spacing: 1px;
  /*margin: 64px 65px;*/
  color: #FFFCEE;
  background-color: lawngreen;
  margin: 0 0 0 40%;
}

.skip:hover{
  color:lawngreen;
}
.skip{
  float:right;
  font: 29px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 5px 30px;
  letter-spacing: 1px;
  /*margin: 64px 65px;*/
  color: #FFFCEE;
  background-color: red;
  margin: 0 10% 0 0;
}

.answer:hover{
  color:black;
}

/*.hlogin{*/
  /*color:#FFFCEE;*/
  /*text-decoration: none;*/
/*}*/
/*.loginhome:hover{*/
  /*color:black;*/
/*}*/

.score{
  font: 28px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 15px 0 0 55px;
}
a:hover{
  color:red;
}
.imageClass {
  float: left;
  margin: 0 4% 13px 5%;
}
.badges {
  margin: 0 0 0 29px;
  width: 95%;
  clear: both;
  padding: 30px 0;
}

.badgeTitle{
  color:#FFFCEE;
  font: 44px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  margin: -18px 0 0 0;
}
.badges p{
  /*color:#FFFCEE;*/
  color: #3A8BCA;
  font: 34px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  margin: -39px 5% 0 0;
}

.one{
  float:left;
  width: 25%;
  margin: 0 2% 0 6%;

}
.two{
  float:left;
  width: 25%;
  margin: 0 4%;
}
.three{
  float:left;
  width: 25%;
  margin: 0 4%;
}
#levels{
  padding-bottom: 30%;
}

/*trivia game*/

/*#main{*/
  /*width:100%;*/
  /*padding: 200px 0;*/
/*}*/

#beginnerQuestion{
  font: 35px play, Helvetica, Arial, sans-serif;
  margin: 0 7% 25px 10%;
  letter-spacing: 1px;
  font-weight: bold;
  color: #FFFCEE;
}
#intermediateQuestion{
  font: 35px play, Helvetica, Arial, sans-serif;
  margin-left: 10%;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #FFFCEE;
}
#finalQuestion{
  font: 35px play, Helvetica, Arial, sans-serif;
  margin-left: 10%;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #FFFCEE;
}

.fourAnswers{
  font: 30px play, Helvetica, Arial, sans-serif;
  margin-left: 10%;
  margin-bottom: 15px;
  letter-spacing: 1px;
  font-weight: bold;
  color: #FFFCEE;
  list-style-type: none;
}
input[type="radio" ]{
  color:#FFFCEE;
  width:29px;
  height:29px;
  /*border-width: 2px;*/
  /*border-color: red;*/
}

.moveAlong{
  font: 28px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  margin: -38px 4% 0 0;
  float: right;
  color: #FFFCEE;
  background-color: lawngreen;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 30px;
}

.moveAlong:hover{
  color:black;
  background-color:#FFFCEE;
}

.recordScore{
  margin: 0 0 0 5%;
}

a{
  text-decoration: none;
  color:#fffcee;
}
a:hover{
  color:black;
}

.save{
  padding:66px 0;
}

.animate {
  font: 32px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FFFCEE;
  margin: -37px 0 0 10%;
}

.badgeSm2{
margin: 0 0 0 0;

}


.badgeSm{
  margin: 50px 0 -4px 59px;
}

.smallClass {
  float: left;
  clear: both;
  margin: -12px 19px 2px 65px;
}

button:focus {outline:0;}


