@import url(https://fonts.googleapis.com/css?family=Play:400,700);

/* apply a natural box layout model to all elements, but allowing components to change */
html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}

body {
  border: 26px solid #FFFCEE;
  -webkit-border-radius: 46px;
  -moz-border-radius: 46px;
  background-image: url("/assets/images/noise.png");
  font: 14px play, Helvetica, Arial, sans-serif;
  margin: 0;
  padding: 0 0 17% 0;
}

.navigation{
  display: block;
  margin: 33px 0 0 0;
  padding: 0 0 57px 0;

}

.nav-main{
  float: left;
  margin: 0 0 0 5%;
}

.nav-main-logout{
  float: right;
  margin: 0 5%;
}
/*.nav-main-mid{*/
  /*float: left;*/
  /*margin: 0 12%;*/
/*}*/

ul{
  list-style-type: none;
  /* width: 100%; */
  padding: 0 0 0 0;
}

h1{
  font: 5em play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  text-align: center;
  color: #FFFCEE;
  margin: 15px 0 35px 0;
  clear: both;
}

.force{
  padding-top:140px;
}

h2{
  padding-top: 27px;
  font: 2.7em play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 0 auto;
  width: 59%;
  color: #3A8BCA;
}

h4{
  font: 35px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: #FFFCEE;
  margin-bottom: 15px;
  margin-top: 34px;


}
#levels p{
  font: 27px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  color: #3A8BCA;
  margin-top: 0;
  line-height: 33px;
}

.quote{
  font: 2em play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  /*float:right;*/
  text-align: right;
  margin: 0px 20% 21px 0;
  color: #FFFCEE;
  padding-bottom:29px;
}
.logs{
  font: 2.2em play, Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin: 15px auto;
  background-color: red;
  border-radius: 12px;
  border-color: transparent;
  padding-bottom:6px;
}
.r-logs{
  font: 29px play, Helvetica, Arial, sans-serif;
  letter-spacing: 5px;
  font-weight: bold;
  text-align: center;
  color: black;
  margin: 15px auto;
  background-color: lawngreen;
  border-radius: 12px;
  border-color: transparent;
  padding-bottom:6px;
}

#home-form{
  margin: 56px 0 0 56px;
}

.home{
  background-color: red;
  border-radius: 10px;
  border-color: transparent;
   margin: 0 0 0 0;
  padding: 6px 16px;
  font: 1.5em play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  color: #FFFCEE;
}

#login-form{
  display: block;
  margin: 55px auto;
  text-align: center;

}

input.login{
  font: 29px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
}

.submit{
  font: 1.5em play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 20px;
  letter-spacing: 3px;
  margin: 34px 0 25px;
  color: #FFFCEE;
  background-color: lawngreen;
}
.submit:hover{
  color:black;
  background-color:#FFFCEE;
}

.register{
  font: 29px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 20px;
  letter-spacing: 2px;
  margin: 34px 0 25px;
  color: white;
  background-color: red;
}
.register:hover{
  color:lawngreen;
  background-color:#FFFCEE;
}

.new-login   {
  font: 29px play;
  font-weight: bold;
  color: lawngreen;
  text-decoration: none;
  margin-top: 34px;
  letter-spacing: 5px;
}
.new-login:hover {
  color: #FFFCEE;
}

.new-main   {
  font: 1.5em play;
  font-weight: bold;
  color: lawngreen;
  text-decoration: none;
  margin: 10px 2.5% 0 0;
  letter-spacing: 5px;
  float: right;
  clear: both;
}
.new-main:hover {
  color: #FFFCEE;
}
.play   {
  font: 55px play;
  font-weight: bold;
  color: lawngreen;
  text-decoration: none;
  /*margin: 24px 42px 0 0;*/
  letter-spacing: 5px;
  text-align: center;
  display:block;
  margin: 139px auto 20%;
}
.play:hover {
  color: #FFFCEE;
}

::-webkit-input-placeholder { /* WebKit, Blink, Edge */
  color:    #FFFCEE;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
  color:   #FFFCEE;
  opacity:  1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
  color:    #FFFCEE;
  opacity:  1;
}
:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color:   #FFFCEE;
}

.logout{
  /* float: right; */
  font: 1.5em play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 19px;
  letter-spacing: 1px;
  /* margin: 3% 5%; */
  color: #FFFCEE;
  background-color: lawngreen;
}

.logout:hover{
  color:black;
}
.loginhome{
  /*float: right;*/
  /*font: 1.5em play, Helvetica, Arial, sans-serif;*/
  /*font-weight: bold;*/
  /*border-radius: 10px;*/
  /*border-color: transparent;*/
  /*padding: 6px 22px;*/
  /*letter-spacing: 1px;*/
  /*margin: 3% 5% 19px;*/
  /*color: #FFFCEE;*/
  /*background-color: lawngreen;*/
  /*text-decoration: none;*/
  /* float: right; */
  font: 1.5em play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 19px;
  letter-spacing: 1px;
  /* margin: 3% 5%; */
  color: #FFFCEE;
  background-color: lawngreen;
}
.nav-main-login {
  float: right;
  margin: 0 5%;
}

.loginhome:hover{
  color:black;
}

.answer{
  font: 1.87em play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 30px;
  letter-spacing: 1px;
  /*margin: 64px 65px;*/
  color: #FFFCEE;
  background-color: lawngreen;
  margin: 0 0 0 40%;
}

.skip:hover{
  color:lawngreen;
}
.skip{
  float:right;
  font: 1.87em play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  border-radius: 10px;
  border-color: transparent;
  padding: 5px 30px;
  letter-spacing: 1px;
  color: #FFFCEE;
  background-color: red;
  margin: 0 10% 0 0;
}

.answer:hover{
  color:black;
}

.score{
  font: 1.5em play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  clear: both;
}

.score-tag{
  margin: 0 0 0 0;
  color: white;
  font-size: 1.5em;
  font-weight: bold;
}
a:hover{
  color:red;
}
.imageClass {
  float: left;
  margin: 0 5% 32px 7%;
}
.badges {
  margin: 0 0 0 3%;
  width: 95%;
  clear: both;
}

.main-quotes{
  color: #FFFCEE;
  font: 2.7em play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 1px;
  padding: 41px 0 2px 0;
  margin: 0 0 0 0;
}

.badges p{
  /*color:#FFFCEE;*/
  color: #3A8BCA;
  font: 29px play, Helvetica, Arial, sans-serif;
  letter-spacing: 1px;
  font-weight: bold;
  margin: 4px 5% 0 0;
}

.one{
  float:left;
  width: 25%;
  margin: 0 2% 0 6%;
  clear: both;

}
.two{
  float:left;
  width: 25%;
  margin: 0 4%;
}
.three{
  float:left;
  width: 25%;
  margin: 0 4%;
}
#levels{
  padding: 0 0 63% 0;
}

#beginnerQuestion{
  font: 2em play, Helvetica, Arial, sans-serif;
  margin: 37px auto 0;
  letter-spacing: 1px;
  font-weight: bold;
  color: #3A8BCA;
  width: 68%;
}
#intermediateQuestion{
  font: 2em play, Helvetica, Arial, sans-serif;
  margin: 37px auto 0;
  letter-spacing: 1px;
  font-weight: bold;
  color: #3A8BCA;
  width: 68%;
}
#finalQuestion{
  font: 2em play, Helvetica, Arial, sans-serif;
  margin: 37px auto 0;
  letter-spacing: 1px;
  font-weight: bold;
  color: #3A8BCA;
  width: 68%;
}

.fourAnswers{
  font: 1.87em play, Helvetica, Arial, sans-serif;
  margin: 9px auto;
  width: 62%;
  letter-spacing: 1px;
  font-weight: bold;
  color: #FFFCEE;
  list-style-type: none;
}
input[type="radio" ]{
  color: #FFFCEE;
  width: 20px;
  height: 19px;
  margin: 0px 19px 0 0;
}

.moveAlong{
  font: 28px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  margin: -38px 4% 0 0;
  float: right;
  color: #FFFCEE;
  background-color: lawngreen;
  border-radius: 10px;
  border-color: transparent;
  padding: 6px 30px;
}

.moveAlong:hover{
  color:black;
  background-color:#FFFCEE;
}

.recordScore{
  margin: 0 0 0 5%;
}

a{
  text-decoration: none;
  color:#fffcee;
}
a:hover{
  color:black;
}

.save{
  padding:66px 0;
}

.animate {
  font: 32px play, Helvetica, Arial, sans-serif;
  font-weight: bold;
  letter-spacing: 2px;
  color: #FFFCEE;
  margin: -37px 0 0 10%;
}

.badgeSm2{
margin: 0 0 0 0;

}

.badgeSm{
  margin: 50px 0 -4px 59px;
}

.smallClass {
  float: left;
  clear: both;
  margin: -12px 19px 2px 65px;
}

button:focus {outline:0;}

.radio-button{
  margin: 0 20px 0 0;
}
