<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../stylesheets/login_style.css">
    <link rel="stylesheet" href="../stylesheets/font-awesome.min.css">

    <title></title>
</head>
<body>
<div><i class="fa fa-bars"></i></div>

<a href="/register" class="score">SCORE <br/> BOARD</a>


    <form action ="/" method="POST" id="login-form">

        <div>
            <!--<label for="username" class="logs"> Username </label>-->
            <input type = "text"  class="logs" placeholder = "username" name = "username" id="username"/>
        </div>
        <div>
            <!--<label for="password" class="logs"> Password:</label>-->
            <input type="password" class="logs" placeholder = "password" name="password" id="password"/>
        </div>
        <div>
            <input type="submit" class="submit" value="log in"/>
        </div>

        <div>
        <a href="/register" class="new">new player</a>
            </div>
    </form>

</body>
</html>