<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <base href="/">
    <script src ="/vendors/angular/angular.min.js" type="text/javascript"></script>
    <script src ="/vendors/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src ="/assets/scripts/app.min.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../styles/login_style.css">
    <meta charset="UTF-8">

    <title>Star Wars: The Game</title>
</head>

<body ng-Controller="IndexController">
<div id="levels">
        <div>
            <a href="/index" target="_self"><button type="submit" class="loginhome" value="log in">log in</button></a>
            <a href="/register"  target="_self" class="new-main">new player</a>
        </div>

        <div>
            <button type="submit" class="home" value="home"><a href="/">home</a></button>
            <a href="/"></a>
        </div>

        <!--change this to database scoreboard-->
        <div class="score">
            <a href="/scoreBoard" target="_self">SCORE <br/> BOARD</a>
        </div>

    <h1>Star Wars: The Game</h1>
        <h2>In my experience, there is no such thing as luck.</h2>
            <p class="quote">- Obi Wan</p>

    <div class="badges">
        <img src="/assets/images/lightsaber.png" alt="lightsaber badge" width="180px" class="imageClass">
            <div class="badgeTitle">
                <h3 class="main-quotes">This is the weapon of a Jedi Knight.</h3>
                    <p class="badgeP">Lightsaber Badges are worth 300 points</p>
            </div>
    </div>

    <div class="badges">
        <img src="/assets/images/wookie.png" alt="wookie badge" width="180px" class="imageClass">
            <div class="badgeTitle">
                <h3 class="main-quotes">It's not wise to upset a Wookie</h3>
                    <p class="badgeP">Wookie Badges are worth 400 points</p>
            </div>
    </div>

    <div class="badges">
        <img src="/assets/images/falcon.png" alt="millenium falcon badge" width="180px" class="imageClass">
            <div class="badgeTitle">
                <h3 class="main-quotes">She may not look like much but she’s got it where it counts, kid</h3>
                    <p class="badgeP">Millenium Falcon Badges are worth 500 points</p>
            </div>
    </div>

        <div class ="one">
            <h4>Level One</h4>
            <p>Level one answers are worth 100 points. There is no penalty for skipping
                questions in this level. Just remember, Do. Or do not. There is no try.</p>
        </div>
        <div class ="two">
            <h4>Level Two</h4>
            <p>Level two answers are worth 200 points. There is a 10 point penalty for
                skipping questions in this level. Just remember, The Force is what gives a
                Jedi his power....</p>
        </div>
        <div class ="three">
            <h4>Level Three</h4>
            <p>Level three answers are worth badges. There is a 50 point penalty for
                skipping questions in this level. Just remember, That is why you fail....</p>
        </div>
    </div>

</body>
</html>