<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/login_style.css">


    <title></title>
</head>
<body>


<!--change this to database scoreboard-->
<div class="score">
    <a href="/register">SCORE <br/> BOARD</a>
</div>

<form action ="/register" method="POST" id="login-form">

    <div>
        <!--<label for="username" class="logs"> Username </label>-->
        <input type = "text"  class="r-logs" placeholder = "new username" name = "username" id="username"/>
    </div>
    <div>
        <!--<label for="password" class="logs"> Password:</label>-->
        <input type="password" class="r-logs" placeholder = "new password" name="password" id="password"/>
    </div>

    <div>
        <input type="submit" class="register" value="register"/>
    </div>
</form>

</body>
</html>