<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <link rel="stylesheet" href="../styles/login_style.css">
    <meta charset="UTF-8">
    <title>Star Wars: The Game</title>
</head>
<body>
<nav class="navigation">
    <ul>
        <li class="nav-main-logout">
            <a href="/" target="_self"><button type="submit" class="logout" value="log out">BACK</button></a>
        </li>
    </ul>
</nav>

    <h1 class="force">May the force be with you....</h1>

    <div><a href="/index" class="play"> log in to play </a></div>


</body>
</html>

