<!DOCTYPE html>
<html lang="en">
<head>
    <base href="/">
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../styles/login_style.css">


    <title></title>
</head>
<body>
    <div>
        <button type="submit" class="logout" value="log out"><a href="/">back</a></button>
    </div>

    <div>
        <button type="submit" class="home" value="home"><a href="/">home</a></button>
        <a href="/"></a>
    </div>
    <!--change this to database scoreboard-->
    <div class="score">
        <a href="/register">SCORE <br/> BOARD</a>
    </div>

<form action ="/register" method="POST" id="login-form">

    <div>
        <input type = "text"  class="r-logs" placeholder = "new username" name = "username" id="username"/>
    </div>
    <div>
        <input type="password" class="r-logs" placeholder = "new password" name="password" id="password"/>
    </div>

    <div>
        <input type="submit" class="register" value="register"/>
    </div>
</form>

</body>
</html>