<!DOCTYPE html>
<html lang="en" ng-app="app">
<head>
    <base href="/">
    <script src ="/vendors/angular/angular.min.js" type="text/javascript"></script>
    <script src ="/vendors/angular-route/angular-route.min.js" type="text/javascript"></script>
    <script src ="/assets/scripts/app.min.js" type="text/javascript"></script>
    <script src ="/assets/scripts/GameController.js" type="text/javascript"></script>
    <script src ="/assets/scripts/GameControllerLose.js" type="text/javascript"></script>
    <link rel="stylesheet" href="../styles/login_style.css">
    <link rel="stylesheet" href="../styles/animate_styles.css">

    <meta charset="UTF-8">
    <title></title>
</head>
<body ng-Controller="IndexController">
    <div>
        <a href="/" target="_self"><button type="submit" class="logout" value="log out">log out</button></a>
    </div>

    <div>
        <a href="/" target="_self"><button type="submit" class="home" value="home">home</button>
       </a>
    </div>

    <div class="score">
        <a href="/register">SCORE <br/> BOARD</a>
    </div>

    <h1> {{levelTitle}} </h1>

            <!--{{currentQuestion}}-->
    <h2>{{movieQuote}}</h2>
    <p class="quote">{{person}}</p>
            <!--<h2>Hokey religions and ancient weapons are no match for a good blaster at your side, kid.</h2>-->
                <!--<p class="quote">- Han Solo</p>-->
<div class="save">
    <div ng-show="showRightWrong">
        <div id="main">

            <ng-view>

            </ng-view>

        </div>
    </div>
</div>

                    <div id="beginnerQuestion">{{currentQuestion.title}}</div>
                    <!--<div id="intermediateQuestion" >{{intermediate.title}}</div>-->
                    <!--<div id="finalQuestion" >{{final.title}}</div>-->

    <div>
        <ul>
            <li class="fourAnswers" ng-repeat="answer in currentQuestion.fourAnswers">
                <input ng-model="$parent.selected" type="radio" name="answerRadio" ng-value="answer.text">{{answer.text}}
            </li>

        </ul>
    </div>

    <!--<div ng-show="showRightWrong">-->
        <!--<div id="main">-->

            <!--<ng-view>-->

            <!--</ng-view>-->

        <!--</div>-->
    <!--</div>-->



    <div>
        <button type="submit" class="skip" value="skip" ng-click="getQuestion()" >skip</button>
        <a href="/"></a>

        <!--<div>-->
            <button type="button" class="answer" value="answer"  ng-click="checkAnswers()" >answer</button>

        <!--</div>-->
    </div>

    <div class="recordScore">
        <h4> total score: <br/> {{score.score}}</h4>
    </div>



    </body>
</html>